/* Write the CSS for you answer here */
/*#container {*/
    /*position:relative;*/
    /*width:700px;*/
    /*margin:auto;*/
    /*height:541px;*/
/*}*/


/*img#background {*/
    /*position:absolute;*/
    /*left: 0px;*/
    /*top: 180px;*/
    /*z-index: -2;*/
/*}*/

/*img#tree {*/
    /*position:absolute;*/
    /*left: 0px;*/
    /*top: 290px;*/
    /*width: 700px;*/
    /*pointer-events: none;*/
/*}*/

/*img#red {*/
    /*position:absolute;*/
    /*left: 290px;*/
    /*top: 430px;*/
/*}*/

/*img#blue {*/
    /*position:relative;*/
    /*left: 000px;*/
    /*top: 500px;*/
/*}*/

/*img#pink {*/
    /*position:absolute;*/
    /*left: 600px;*/
    /*top: 450px;*/
/*}*/

/*img#green {*/
    /*position:absolute;*/
    /*left: 140px;*/
    /*top: 450px;*/
/*}*/

/*img#orange {*/
    /*position:absolute;*/
    /*left: 420px;*/
    /*top: 520px;*/
    /*z-index: -1;*/
/*}*/

/*img#darkblue {*/
    /*position:absolute;*/
    /*left: 440px;*/
    /*top: 380px;*/
/*}*/
/* ^^^^^^^^^^^^^^^^^^^^^up there was my positioning css, don't need this today*/






img.bauble {
    width: 49px;
    animation-duration: 1s;
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}




/*!*#container:hover > .bauble {*!*/

   /*!*animation-duration: 1s;*!*/
   /*!*animation-name: bounce;*!*/
   /*!*animation-fill-mode: forwards;*!*/
    /*!*animation-play-state: running;*!*/


/*!*}*!*/

/*!*#container:not(:hover) > .bauble{*!*/
    /*!*animation-play-state: paused;*!*/
/*}*/

.falling {
    animation-duration: 1s;
    animation-name: bounce;
    animation-fill-mode: forwards;
}

@keyframes bounce{
    from {}
    40% {top: 600px}
    60% {top: 580px}
    75% {top: 600px}
    90% {top: 590px}
    to{top: 600px;}

}

